$color-white: #E8DFCE;
$color-greenold: #5c9186;
$color-greenday: #7bafa4;
$color-gray: #ECECEC;
$color-graymid: #d9d9d9;
$color-grayold: #9f9f9f;
$color-font-black:#292b2c;
$color-whitemid: #eaeaea;
$color-putih: #fdfdfd;
$color-pold: #ffffff;
$color-red: #d9534f;
$color-blue: #025195;
$color-cyan: #49a8c4;
$color-birumuda: #71767c;
$color-birumid: #2c3848;
$color-birutua:#1d2939;
$color-biru:#080c10;
$color-hijaumud:#7ed6ae;
$color-hijau:#60d6a2;
$color-hijautua:#53c190;
.mypadding{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
}

.margin{
    margin: 0 -1.4em !important;
}

@mixin shadow-bottom($bottom) {
    -webkit-box-shadow: $bottom;
    -moz-box-shadow: $bottom;
    box-shadow: $bottom;
}

@mixin transide($ease) {
    -webkit-transition: co$ease;
    -moz-transition: $ease;
    -o-transition: $ease;
    transition: $ease;
}

.side-left {
    @include transide(all 0.2s ease);
    z-index: 1000;
    position: fixed;
    width: 250px;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    color: $color-font-black;
    background-color: $color-putih;
}

.logo-top{
    color: $color-putih;
    text-decoration: none;
    
    &:hover{
        text-decoration: none;
        color: $color-gray;
    }
}

.img-user-left {
    border-radius: 50%;
    background-color: $color-birumuda;
    margin: 0 auto;
}

.name-user{
    font-size: 18px;
    font-weight: 600;

}

.pk-user{
    font-size: 14px;
    font-weight: 500;

}

.navigasi {
    color: $color-birumuda;
    ul {
        list-style: none;
        margin: 0;
        padding: 0.5em 0em 0.5em 0em;
        li {
            padding: 0.5em 0 0.5em 2em;
            &:hover {
                background-color: $color-hijau;
                color: $color-putih;
                border-left: 5px solid $color-hijautua;
            }
            
        }
        li.db-active,li:active{
                background-color:$color-hijau !important;
                color: $color-putih;
                border-left: 5px solid $color-hijautua;
            
            }
        a {
            font-size: 18;
            font-weight: 400;
            font-family: arial;
        }
    }
}

.head-drop-all{
    padding: 0.7em 1em;
}

.notifi-baru{
    position: absolute;
    background-color: $color-red;
    border-radius: 50%;
    color: $color-putih;
    text-align: center;
    font-size: 10px;
    padding: 0.3em 0.3em;
    margin: 0 auto;
}

.notifi {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0px !important;
    min-width: 300px !important;
}

.content-notifi{

    ul{
        list-style: none;
        padding: 0;
    }

    li{
        padding: 0.5em 1em 0.5em 1em;
        margin: 0;
        border-bottom: 1px solid $color-graymid;
        &:hover{
            background-color:$color-gray;
        }
    }

    .name-notifi{
        display: block;
    }

    .time-notifi{
        font-size: 14px;
        color: $color-grayold;
        padding-left: 0.5em;
    }
}

.pesan-baru {
    position: absolute;
    background-color: $color-red;
    border-radius: 20px;
    color: $color-putih;
    font-size: 10px;
    text-align: center;
    padding: 0.3em 0.3em;
    margin: 0 auto;
}

.pesan {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0px !important;
    min-width: 300px !important;
}

.content-pesan {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin: 0;
        padding: 0.5em 0.5em 0.5em 1em;
        border-bottom: 1px solid $color-gray;
        border-left: 0px !important;
        &:hover {
            background-color: $color-gray;
        }
    }
    .img-pesan {
        float: left;
        width: 50px;
        display: block;
        padding: 0.2em 0.5em 0.5em 0;

        img{
            background-color: $color-hijau;
            width: 40px;
        }
    }
    .new-pesan {
        background-color: $color-hijau;
        color: $color-putih;
        border-radius: 5px;
        font-size: 12px;
        padding: 0.2em 0.4em;
        position: absolute;
        right: 1em;
    }
    .name-pesan {
        display: block;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
    .msg-pesan {
        font-size: 14px;
        color: $color-grayold;
    }
}

.fa-caret-down {
    position: absolute !important;
    right: 1.5em !important;
    padding-top: 0.3em !important;
}


#produk-side {
    li {
        padding-left: 3em !important;
        background-color: $color-gray !important;;
        &:hover {
            background-color: $color-hijau !important;
        }
    }
}

#transaksi-side {
    li {
        padding-left: 3em !important;
        background-color: $color-gray !important;
        &:hover {
            background-color: $color-hijau !important;
        }
    }
}

.profil-user {
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 15px !important;
    border-radius: 0px !important;
    min-width: 200px !important;
}

.content-profil {
    display: block;
    padding: 0.3em 1.5em 0.3em 1em;
    &:hover {
        background-color: $color-gray;
    }
}

.added-drop {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 15px !important;
    border-radius: 0px !important;
    min-width: 200px !important;
}

.c-added {
    display: block;
    padding: 0.3em 1.5em 0.3em 1em;
    &:hover {
        background-color: $color-gray;
    }
}

.search-side {
    background-color: $color-gray;
    border: none;
    width: 100%;
    color: $color-font-black;
    padding: 0.5em 0.7em 0.5em 0.7em;
    margin-top: 0.5em;
    margin-bottom: 1.3em;
}

.icon-side {
    margin-right: 0.5em;
    width: 25px;
    height: 25px;
    color: $color-red;
}

.header-fixed {
    @include transide(all 0.2s ease);
    width: calc(100% - 250px);
    margin-left: 250px;
    position: fixed;
    z-index: 9999;
}

.content-main {
    @include transide(all 0.2s ease);
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    padding-top: 50px;
    background-color: $color-graymid;
    transition: margin-left 0.2s;
}

.header {
    background-color: $color-putih;
    height: 50px;
    border-bottom: 1px solid $color-gray;
    transition: 0.2s;
}

.menu-toggle {
    float: left;
    text-align: center;
    padding: 0.7em 0.5em;
    width: 50px;
    height: 50px;
    border-right: 1px solid $color-gray;
    color: $color-grayold;
    
    &:hover{
        color: $color-font-black !important;
    }
}

.added-item {
    float: left;
    padding: 0.1em 0.5em !important;
    width: 50px;
    height: 50px;
    border-right: 1px solid $color-gray;
    
    h5{
        color: $color-graymid;
    
     &:hover{
        color: $color-font-black !important;
    }
    } 
   
}

.search-head {
    float: left;
    width: 200px;
    padding: 0;
    margin: 0;
    .input-search {
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        border-right: 1px solid $color-gray;
        background-color: transparent;
        padding: 0 3.6em 0 1em;
        background-image: url(../img/search.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        &:focus {
            outline: none;
            width: 400px;
        }
    }
}

.header-right {
    right: 0;
    float: right;
    
    .right-nav {
        border-left: 1px solid $color-gray;
        height: 50px;
    }
}

.btn-head {
    background-color: transparent;
    border-radius: 0;
    color: $color-grayold !important;
    height: 50px;
    margin: 0 auto !important;
    padding-top: 0.8em !important;
    
    &:hover{
        color: $color-font-black !important;
    }
    
    &:focus {
        outline: none;
        color: $color-font-black !important;
    }
    
}

.user-drop{
    padding-top: 0.4em !important;
    img {
        border-radius: 50%;
        background-color: $color-birumuda;
        border: 1px solid $color-graymid;
        width: 35px;
        margin-right: 0.3em;
    }
}

.b-bottom-side {
    border-bottom: 1px solid $color-graymid;
}

.top-event {
    margin-top: 50px;
}

.date {
    background-color: $color-hijau;
    color: $color-putih;
    text-align: center;
    width: 110px;
    padding: 0.1em 0em;
    p {
        font-weight: 400;
        margin: 0;
    }
    .bulan {
        font-size: 14px;
        margin-left: 0.5em;
        font-weight: 500;
    }
}

.times {
    background-color: $color-gray;
    text-align: center;
    color: $color-font-black;
    padding-top: 1em;
    width: 110px;
    padding: 0.3em 0.5em 0 0.5em;
    span {
        font-size: 16px;
        padding-bottom: 0.5em;
    }
}

.header-s {
    background-color: $color-putih;
    border-bottom: 1px solid $color-gray;
    color: $color-font-black;
    padding: 0.3em 1em;
    font-weight: 500;
    text-align: center;
}

.statistik-content {
    height: auto !important;
    margin: 0 !important;
    background-color: $color-putih;
    
    .statistik-header {
        @extend .header-s;
    }
    
    .statis-isi{
        padding: 0.1em 0.5em;
    }
    
    .details-statik {
        padding: 0.35em 1em;
        border-top: 1px solid $color-graymid;
    }
}

.btn-download{
    position: absolute;
    right: 30px;
    top: 15px;
    margin: 0 !important;
    padding:0 !important;

}

.panel {
    height: auto;
    margin-bottom: 0.7em;
}

.panel-1 {
    @extend .panel;
    background-color: $color-hijau;
}

.panel-2 {
    @extend .panel;
    background-color: $color-hijau;
}

.panel-3 {
    @extend .panel;
    background-color: $color-hijau;
    margin-bottom: 0 !important;
}

.panel-top {
    padding: 1em 1em 1em 1em;
    i {
        right: 0;
        padding-top: 0.2em;
        padding-right: 0.3em;
        text-align: right;
    }
}

.link-panel {
    color: $color-grayold;
    text-decoration: none;
    font-weight: 500;
    &:hover {
        color: $color-birutua;
        text-decoration: none;
    }
}

.panel-footer {
    padding: 0.5em 1em !important;
    background-color: $color-putih;
    i {
        position: absolute;
        right: 1.3em;
        padding-top: 0.2em;
    }
}

.grafik-produk {
    background-color: $color-putih;
    height: auto;
    .grap-header {
        @extend .header-s;
    }
    .grap-content {
        padding: 0.5em 1em 0.5em 1em;
        .btn-grap {
            background-color: $color-birutua !important;
            color: $color-gray;
            border-radius: 5px;
            padding: 0.3em 0.8em;
            font-weight: 600;
            margin-top: 0.7em;
        }
    }
}

.grafik-donut {
    background-color: $color-putih;
    height: 400px;
    .grad-header {
        @extend .header-s;
    }
    .grad-content {
        margin: 0 auto;
    }
}

.persentase{
    padding: 1em 0.5em;
}

.head-table-s {
    @extend .header-s;
}

.table-statis {
    background-color: $color-putih;
}

.footer {
    background-color: $color-putih;
    margin-top: 1em;
}

.chat {
    background-color: $color-hijau;
    width: 140px;
    border: 3px solid $color-putih;
    border-bottom: 0px;
    border-radius: 10px 10px 0 0;
    position: fixed;
    z-index: 9999;
    padding: 0.5em 1em;
    color: $color-putih;
    margin: 0 auto;
    bottom: 0;
    right: 50px;
    
    &:hover{
        color: $color-graymid;
    }
    
}

@media (min-width:768px) {
    #side-search {
        display: none;
    }
}

@media (min-width:576px) {
    #user-set {
        display: none;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }
    
}

@media (min-width:992px) {
    .menu-toggle{
        display: none;
    }
    .tambah-nav-right{
        display: none;
    }
}

@media (max-width: 992px) {
    .tambah-nav-left{
        display: none;
    }
    .side-left {
        left: -250px;
        
    }
    .added-drop{
        margin-left: 0 !important;
    }
    .side-left.show{
        left: 0;
        }
    
    .header-fixed {
        width: 100%;
        margin-left: 0;
    }
    .header-fixed.push{
        margin-left: 250px !important;
    }
    .content-main {
        width: 100%;
        margin-left: 0;
    }
    .content-main.push{
        margin-left: 250px !important;
        position: fixed;
    }
}

@media (max-width:768px) {
    #search-top {
        display: none;
    }
    .content-main {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width:576px) {
    #user-top {
        display: none;
    }
    .date {
        width: 50%;
    }
    .times {
        width: 50%;
        padding-top: 1em;
    }
    .panel-footer {
        padding: 0.5em 1em !important;
        border-radius: 0 0 5px 5px;
        background-color: $color-putih;
        i {
            position: absolute;
            right: 2.3em;
            padding-top: 0.2em;
        }
    }
    
    .chat {
        background-color: $color-hijau;
        text-align: center;
        width: 60px;
        height: 50px;
        border: 3px solid $color-putih;
        border-radius: 10px;
        position: fixed;
        z-index: 9999;
        color: $color-putih;
        padding: 0.5em 0.5em !important;
        bottom: 20px;
        right: 30px;
        
        i{
            float: none !important;
            margin: 0 auto !important;
            padding-right: 10px !important;
        }
        
        h6{
            display: none;
        }
    }
}

.shadow-bottom {
    @include shadow-bottom(0 5px 12px -9px);
}

.center {
    text-align: center;
}

.bg- {
    &putih {
        background-color: $color-putih;
    }
    &green {
        background-color: $color-greenday;
    }
    &biru {
        background-color: $color-birutua;
    }
    &gray {
        background-color: $color-gray;
    }
    &hijau{
        background-color: $color-hijau;
    }
}

.font- {
    &putih {
        color: $color-putih;
    }
    &black {
        color: $color-font-black;
    }
    &red {
        color: $color-red;
    }
}