.mypadding {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  padding-top: 0.5em !important; }

.margin {
  margin: 0 -1.4em !important; }

.side-left {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
  position: fixed;
  width: 250px;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  color: #fdfdfd;
  background-color: #1d2939;
  transition: 0.5s; }

.img-user-left {
  border-radius: 50%;
  border: 2px solid #ECECEC;
  margin: 0 auto; }

.navigasi {
  color: #71767c; }
  .navigasi ul {
    list-style: none;
    margin: 0;
    padding: 0.5em 0em 0.5em 0em; }
    .navigasi ul li {
      padding: 0.5em 0 0.5em 2em; }
      .navigasi ul li:hover {
        background-color: #2c3848;
        color: #d9d9d9;
        border-left: 5px solid #7bafa4; }
    .navigasi ul a {
      font-size: 18;
      font-weight: 400;
      font-family: arial; }

.notif-baru {
  position: absolute;
  left: 7px;
  top: 5px;
  background-color: #d9534f;
  border-radius: 20px;
  color: #fdfdfd;
  font-size: 10px;
  text-align: center;
  padding: 0.3em 0.4em 0.3em 0.4em; }

.notifikasi {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0px !important;
  min-width: 300px !important; }

.content-notifi {
  padding: 0.5em 0.5em; }
  .content-notifi ul {
    list-style: none;
    padding: 0; }
  .content-notifi li {
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid #ECECEC;
    border-left: 0px !important; }
    .content-notifi li:hover {
      background-color: #ECECEC; }
  .content-notifi .img-notifi {
    float: left;
    width: 50px;
    display: block;
    padding: 0.5em 0.5em; }
  .content-notifi .new-notifi {
    background-color: #56c44d;
    color: #fdfdfd;
    border-radius: 5px;
    font-size: 12px;
    padding: 0.2em 0.4em;
    position: absolute;
    right: 1em; }
  .content-notifi .name-notifi {
    display: block;
    font-weight: 500;
    margin: 0;
    padding: 0; }
  .content-notifi .msg-notifi {
    font-size: 14px; }

.fa-caret-down {
  position: absolute !important;
  right: 1.5em !important;
  padding-top: 0.3em !important; }

#produk-side li {
  padding-left: 3em !important;
  background-color: #161f2a !important; }
  #produk-side li:hover {
    background-color: #1d2939 !important; }

#transaksi-side li {
  padding-left: 3em !important;
  background-color: #161f2a !important; }
  #transaksi-side li:hover {
    background-color: #1d2939 !important; }

.profil-user {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0px !important;
  min-width: 250px !important; }

.content-profil {
  display: block;
  padding: 0.3em 1.5em 0.3em 1em; }
  .content-profil:hover {
    background-color: #ECECEC; }

.search-side {
  background-color: #2c3848;
  border: none;
  color: #ECECEC;
  padding: 0.5em 0.7em 0.5em 0.7em;
  margin-top: 0.5em;
  margin-bottom: 1.3em; }

.icon-side {
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
  color: #d9534f; }

.produk-item {
  display: none; }

.header-fixed {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: fixed;
  z-index: 9999; }

.content-main {
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 100%;
  padding-top: 50px;
  background-color: #d9d9d9;
  transition: margin-left 0.2s; }

.header {
  background-color: #fdfdfd;
  height: 50px;
  border-bottom: 1px solid #ECECEC;
  transition: 0.2s; }

.menu-toggle {
  float: left;
  text-align: center;
  padding: 0.7em 0.5em;
  width: 50px;
  height: 50px;
  border-right: 1px solid #ECECEC;
  color: #9f9f9f; }
  .menu-toggle:hover {
    color: #292b2c !important; }

.added-item {
  float: left;
  text-align: center;
  padding: 0.5em 0.5em !important;
  width: 50px;
  height: 50px;
  border-right: 1px solid #ECECEC; }
  .added-item h5 {
    color: #d9d9d9; }
    .added-item h5:hover {
      color: #292b2c !important; }

.search-head {
  float: left;
  width: 200px;
  padding: 0;
  margin: 0; }
  .search-head .input-search {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-right: 1px solid #ECECEC;
    background-color: transparent;
    padding: 0 3.6em 0 1em;
    background-image: url(../img/search.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; }
    .search-head .input-search:focus {
      outline: none;
      width: 400px; }

.header-right {
  right: 0;
  float: right; }
  .header-right .right-nav {
    border-left: 1px solid #ECECEC;
    height: 50px; }

.btn-head {
  background-color: transparent;
  border-radius: 0;
  color: #9f9f9f !important;
  height: 50px;
  margin: 0 auto !important;
  padding-top: 0.8em !important; }
  .btn-head:hover {
    color: #292b2c !important; }
  .btn-head:focus {
    outline: none;
    color: #292b2c !important; }
  .btn-head img {
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    width: 20px;
    margin-right: 0.3em; }

.b-bottom-side {
  border-bottom: 1px solid #2c3848; }

.top-event {
  margin-top: 50px; }

.date {
  background-color: #1d2939;
  color: #fdfdfd;
  text-align: center;
  width: 110px;
  padding: 0.1em 0em; }
  .date p {
    font-weight: 400;
    margin: 0; }
  .date .bulan {
    font-size: 14px;
    margin-left: 0.5em;
    font-weight: 500; }

.times {
  background-color: #56c44d;
  text-align: center;
  color: #fdfdfd;
  padding-top: 1em;
  width: 110px;
  padding: 0.3em 0.5em 0 0.5em; }
  .times span {
    font-size: 16px;
    padding-bottom: 0.5em; }

.header-s, .statistik-content .statistik-header, .grafik-produk .grap-header, .grafik-donut .grad-header, .head-table-s {
  background-color: #fdfdfd;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ECECEC;
  color: #292b2c;
  padding: 0.3em 1em;
  font-weight: 500;
  text-align: center; }

.statistik-content {
  height: auto !important;
  margin: 0 !important;
  border-radius: 5px;
  background-color: #fdfdfd; }
  .statistik-content .statis-isi {
    padding: 0.1em 0.5em; }
  .statistik-content .details-statik {
    padding: 0.35em 1em;
    border-top: 1px solid #d9d9d9; }

.panel, .panel-1, .panel-2, .panel-3 {
  height: auto;
  margin-bottom: 0.7em;
  border-radius: 5px; }

.panel-1 {
  background-color: #56c44d; }

.panel-2 {
  background-color: #56c44d; }

.panel-3 {
  background-color: #56c44d;
  margin-bottom: 0 !important; }

.panel-top {
  padding: 1em 1em 1em 1em; }
  .panel-top i {
    right: 0;
    padding-top: 0.2em;
    padding-right: 0.3em;
    text-align: right; }

.link-panel {
  color: #9f9f9f;
  text-decoration: none;
  font-weight: 500; }
  .link-panel:hover {
    color: #1d2939;
    text-decoration: none; }

.panel-footer {
  padding: 0.5em 1em !important;
  border-radius: 0 0 5px 5px;
  background-color: #fdfdfd; }
  .panel-footer i {
    position: absolute;
    right: 1.3em;
    padding-top: 0.2em; }

.grafik-produk {
  background-color: #fdfdfd;
  border-radius: 5px;
  height: auto; }
  .grafik-produk .grap-content {
    padding: 0.5em 1em 0.5em 1em; }
    .grafik-produk .grap-content .btn-grap {
      background-color: #1d2939 !important;
      color: #ECECEC;
      border-radius: 5px;
      padding: 0.3em 0.8em;
      font-weight: 600;
      margin-top: 0.7em; }

.grafik-donut {
  border-radius: 5px;
  background-color: #fdfdfd;
  height: 400px; }
  .grafik-donut .grad-content {
    margin: 0 auto; }

.persentase {
  padding: 1em 0.5em;
  border-radius: 5px; }

.table-statis {
  border-radius: 0 0 5px 5px;
  background-color: #fdfdfd; }

.footer {
  background-color: #fdfdfd;
  margin-top: 1em; }

.chat {
  background-color: #56c44d;
  text-align: center;
  width: 160px;
  border: 3px solid #fdfdfd;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  position: fixed;
  z-index: 9999;
  color: #fdfdfd;
  padding: 0.5em 0.5em;
  bottom: 0;
  right: 50px; }

@media (min-width: 576px) {
  #user-set {
    display: none;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }
  #side-search {
    display: none; } }

@media (min-width: 992px) {
  .menu-toggle {
    display: none; } }

@media (max-width: 992px) {
  #sidebar {
    display: none; }
  .header-fixed {
    width: 100%;
    margin-left: 0; }
  .content-main {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 768px) {
  #search-top {
    display: none; }
  .content-main {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 576px) {
  #user-top {
    display: none; }
  .date {
    width: 50%; }
  .times {
    width: 50%;
    padding-top: 1em; }
  .panel-footer {
    padding: 0.5em 1em !important;
    border-radius: 0 0 5px 5px;
    background-color: #fdfdfd; }
    .panel-footer i {
      position: absolute;
      right: 2.3em;
      padding-top: 0.2em; } }

.shadow-bottom {
  -webkit-box-shadow: 0 5px 12px -9px;
  -moz-box-shadow: 0 5px 12px -9px;
  box-shadow: 0 5px 12px -9px; }

.center {
  text-align: center; }

.bg-putih {
  background-color: #fdfdfd; }

.bg-green {
  background-color: #7bafa4; }

.bg-biru {
  background-color: #1d2939; }

.bg-gray {
  background-color: #ECECEC; }

.bg-hijau {
  background-color: #56c44d; }

.font-putih {
  color: #fdfdfd; }

.font-black {
  color: #292b2c; }

.font-red {
  color: #d9534f; }
