$color-white: #E8DFCE;
$color-greenold: #5c9186;
$color-greenday: #7bafa4;
$color-gray: #ECECEC;
$color-graymid: #d9d9d9;
$color-grayold: #9f9f9f;
$color-font-black:#292b2c;
$color-whitemid: #eaeaea;
$color-putih: #fdfdfd;
$color-pold: #ffffff;
$color-red: #d9534f;
$color-blue: #025195;
$color-cyan: #5bc0de;
$color-hijau: #17d910;
$color-hijau-tua: #034a00;

@mixin shadow-bottom($bottom){
    -webkit-box-shadow: $bottom;
	   -moz-box-shadow: $bottom;
	        box-shadow: $bottom;
}

.my-header{
    background-color: $color-blue;
    color: $color-putih;
    padding: 1em 1em 1em 1em;
    font-family: sans-serif;
    
    h4{
        margin-bottom: 0;
    }
    
    span{
        font-size: 13px;
    }
}


.content-left{
    position: static;
    padding: 0em 1em 1em 1em;
    background-color: $color-font-black;
    width: 40%;
    height: 100%;
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        
    }
    li{
        padding: 1em 0 0 1.5em;
        border-bottom: 1px solid $color-grayold;
    }
    
    a{
        color: $color-grayold;
        
        &:hover{
            text-decoration: none;
            color: $color-gray;
        }
    }
}

.content-right{
    background-color: $color-putih;
    padding: 1em 1em 1em 1em;
    text-align: center;
    height: 100%;
}