.my-header {
  -webkit-box-shadow: 0 0px 10px 3px gray;
  -moz-box-shadow: 0 0px 10px 3px gray;
  box-shadow: 0 0px 10px 3px gray;
  background-color: #1d2939;
  color: #d9d9d9;
  padding: 1em 1em 1em 2em;
  font-family: sans-serif; }
  .my-header h4 {
    margin-bottom: 0; }
  .my-header span {
    font-size: 13px; }

.content-left {
  text-align: center;
  top: 50px;
  padding: 0em 1em 1em 1em;
  margin: 0 auto; }
  .content-left ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .content-left li {
    padding: 1em 0 0 1.5em; }
  .content-left a {
    color: #9f9f9f; }
    .content-left a:hover {
      text-decoration: none;
      color: #292b2c; }

.content-right {
  background-color: #fdfdfd;
  padding: 1em 1em 1em 1em;
  text-align: center;
  height: 100%; }
