body {
  background-image: url(../img/back-login.jpg);
  background-repeat: no-repeat; }

.back-off {
  height: 100vh;
  width: 100%;
  position: absolute;
  margin-top: 0 !important; }

.back-active {
  background-color: rgba(0, 0, 0, 0.3); }

.login-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 2em 1.5em 2em 1.5em;
  box-shadow: 0 0 19px -3px; }

.login-logo {
  color: #9f9f9f;
  text-align: center; }

.logo-active {
  color: #025195; }

.alert-login {
  background-color: #d9534f;
  padding: 0.5em 0.5em;
  border: 1px solid #9f9f9f;
  color: #fdfdfd;
  border-radius: 5px;
  margin-bottom: 1em; }

.login-text-top {
  font-size: 16px;
  color: #9f9f9f;
  text-align: center; }

.user-input {
  width: 100% !important;
  padding: 0.5em 1em 0.5em 1em !important;
  margin: 0.5em 0 0.5em 0 !important;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #9f9f9f !important;
  color: #1d2939 !important;
  margin-bottom: 1em !important; }
  .user-input:focus {
    outline: none !important;
    border-bottom: 1px solid #1d2939 !important; }

.pass-input {
  width: 100% !important;
  padding: 0.5em 2.3em 0.5em 1em !important;
  margin: 0.5em 0 0.5em 0 !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9f9f9f !important;
  margin-bottom: 1em !important; }
  .pass-input:focus {
    outline: none !important;
    border-bottom: 1px solid #1d2939 !important; }

.btn-sh {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 14px; }

.login-lupa {
  margin-bottom: 1em; }

.btn-lp {
  color: #9f9f9f; }
  .btn-lp:hover {
    color: #d9d9d9;
    text-decoration: none; }
  .btn-lp:focus {
    color: #025195;
    text-decoration: none; }

.btn-login {
  background-color: transparent;
  border: 1px solid #60d6a2;
  color: #60d6a2;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  width: 100%; }
  .btn-login:hover {
    background-color: #60d6a2;
    color: #fdfdfd;
    border: 1px solid #d9d9d9; }
  .btn-login:focus {
    outline: none !important;
    background-color: #60d6a2;
    color: #fdfdfd;
    border: 1px solid #d9d9d9; }

@media (min-width: 728px) {
  .container {
    width: 400px !important;
    margin-top: 120px !important; } }

@media (max-width: 728px) {
  body {
    background-color: #60d6a2 !important;
    background-image: none; }
  .login-content {
    background-color: transparent;
    border-radius: none !important;
    box-shadow: none; }
  .back-active {
    background-color: transparent !important; }
  .login-text-top {
    color: #ECECEC; }
  .user-input {
    border-bottom: 1px solid #d9d9d9 !important; }
  .user-input::-webkit-input-placeholder {
    color: #d9d9d9; }
  .user-input:-moz-input-placeholder {
    color: #d9d9d9; }
  .user-input:-ms-input-placeholder {
    color: #d9d9d9; }
  .pass-input {
    border-bottom: 1px solid #d9d9d9 !important; }
  .pass-input::-webkit-input-placeholder {
    color: #d9d9d9; }
  .pass-input:-moz-input-placeholder {
    color: #d9d9d9; }
  .pass-input:-ms-input-placeholder {
    color: #d9d9d9; }
  .btn-lp {
    color: #d9d9d9; }
  .btn-login {
    border: 1px solid #d9d9d9;
    color: #d9d9d9; }
    .btn-login:hover {
      color: #60d6a2;
      border: 1px solid #ECECEC;
      background-color: #fdfdfd; }
    .btn-login:focus {
      background-color: #fdfdfd;
      color: #60d6a2; } }
